html{
	background-color:#bbc9d6;
}

body{
	background-color:white;
}

a{
	text-decoration:none;
}

.contenedor{
	max-width:1280px;
	max-height:100%;
	width:100%;
	height:1424px;
	margin-left:auto;
	margin-right:auto;
}

.config-header{
	max-width:1280px !important;
	max-height: 270px !important;
	width:100%;
	height: 100%;
	background-color: #2650A2;
}

.config-image{
	max-width:1280px !important;
	width: 100%;
	height:200px;
	position:relative;
	border-bottom:2px solid #FFF;
}

.config-hr{
	border-bottom:2px solid #FFF;
}

.config-hr-footer{
	border-top:2px solid #FFF;
}

.config-secundario{
	background-color:#17467E;
	max-width:100%;
	height:25px;
}

.config-principal-footer{
	background-color:#2650A2;
	width: 100%;
    max-width: 1280px;
	height:75px;
	position:relative;
}

.config-link{
	color:black;
}

.config-link:hover, .config-link:visited, .config-link:active, .config-link:focus{
	color:#2650A2;
}

.config-principal-modal{
	background-color: #2650A2;
    width: 100%;
    max-height: 45px;
	margin-left:0px !Important;
    height: 100%;
}

.config-secundario-modal{
	background-color: #17467E;
    width: 100%;
    max-height: 25px;
	margin-left:0px !Important;
    height: 100%;
}

.config-ucv{
	padding:8px 8px 8px 8px;
	top:6%;
	margin-top:60px;
	left:36%;
	bottom:4%;
	position: relative;
}

.config-secretaria{
	padding:8px 8px 8px 8px;
	top:6%;
	left:45%;
	margin-top:60px;
	bottom:4%;
	position: relative;
}

.config-body{
	max-width:1280px;
	max-height:1054px;
	width:100%;
	height:100%;
}

.config-footer{
	max-width:1280px;
	max-height:100px;
	width:100%;
	background-color: #17467E;
	height:100%;
}

.config-reloj{
	max-width:1280px;
	top:15%;
	margin-top:-202px;
	position: relative;
	float:right;
}

.config-reloj-account{
	max-width:1280px;
	top:3%;
	margin-top:-288px;
	position: relative;
	float:right;
}

.config-reloj-dashboard{
	max-width: 1280px;
	top: 3%;
	margin-top: -328px;
	position: relative;
	float: right;
}

.config-reloj-inscription{
	max-width: 1280px;
	top: 6%;
	margin-top: -354px;
	position: relative;
	float: right;
}

.config-reloj-perfil {
	max-width: 1280px;
	top: 5%;
	margin-top: -348px;
	position: relative;
	float: right;
}

.config-buttom{
	background-color: #2650A2 !important;
	color:white;
	border: 2px solid;
	border-radius: 10px;
	cursor:pointer;
}

.config-buttom:disabled{
	background-color: #bbc9d6; !important;
	color:#FFF !important;
	border: 2px solid #2650A2 !important;
	border-radius: 10px !important;
	cursor:pointer;
}

.config-buttom:hover{
	background-color: #FFF !important;
	color:black !important;
	border: 2px solid #2650A2 !important;
	border-radius: 10px !important;
	cursor:pointer;
}

.config-buttom:focus{
	background-color: #2650A2 !important;
	color:white !important;
	border: 2px solid #2650A2 !important;
	border-radius: 10px !important;
	cursor:pointer;
}

.config-toggle{
	background-color:#FFF !important;
	color:#bbc9d6 !important;
	border: 2px solid #2650A2 !important;
	border-radius: 10px !important;
}

.config-form{
	width: 93%;
	margin-left: 4%;
	font-size:1.2em;
}

.config{
	max-width:1280px !important;
	width:100%;
	position: relative;
	top:4%;
	margin-top:26px;
	font-size:2em;
	border-left: 2px solid #bbc9d6;
	border-top: 2px solid #bbc9d6;
	border-right: 2px solid #bbc9d6;
	border-bottom: 2px solid #bbc9d6;
	border-radius: 10px;
}

.config-modal{
	max-width:1280px !important;
	width:94% !important;
}

.fixed-formulario{
	max-width: 600px !important;
	max-height: 471px !important;
	height: 100%;
	left: 27%;
	top: 4%;
	position: relative;
	font-size: 1.5em;
	width: 100%;
	border-bottom: 1px solid #2650A2;
	border-left: 1px solid #2650A2;
	border-right: 1px solid #2650A2;
	border-radius: 22px;
	border-top: 1px solid #2650A2;
	box-shadow: -21px 13px 22px -3px #aaa;
}

.fixed-formulario-account{
	max-width: 1240px !important;
	left:4.7%;
	top:4%;
	position: relative;
	border-right: 1px solid #2650A2;
	border-radius: 22px;
	border-top: 1px solid #2650A2;
	border-left: 1px solid #2650A2;
	border-bottom: 1px solid #2650A2;
	box-shadow: -21px 13px 22px -3px #aaa;
}

.fixed-buttom{
	margin-top: 90px;
    position: relative;
    top: 15%;
}

.fixed-cedula, .fixed-password{
	color: #2650A2;
}

.fixed-table{
	max-height:205px;
	height:100%;
}

.fixed-close{
	color:white;
	margin-top:4%;
	margin-left:39%;
	cursor:pointer;
}

.fixed-title{
	 font-size:2em;
	 color:black;
	 font-weight:bold
}

.fixed-li{
	width:25%;
}

.fixed-background-modal{
	background-color: #fbca63;
	font-size: 1.9em;
}

.fixed-title-modal{
	color:white;
	margin-top:2%;
	margin-right:-18%;
}

.fixed-div{
	position:relative;
	max-height:733px;
	height:100%;
	overflow: scroll;
	overflow-y: visible;
	overflow-x: hidden;
}

.fixed-labelmodo{
	font-size: 1.5em;
    font-weight: bold;
    float: left;
    padding: 0px;
    position: relative;
    left: 29%;
}

.fixed-buttompdf{
	margin-left: -12%;
	margin-top: 4%;
	width: 26%;
	float: left;"
}

.scroller{
	overflow:scroll !important;
	overflow-x:visible !important;
}

.account{
	color: #2650A2;
	left: 20%;
	position: relative;
}

.forget{
	color: #2650A2;
	right:-20%;
	position: relative;
}

.universidad{
	font-weight:bold;
	color:white;
	cursor:pointer;
}

.list-footer{
	list-style:none;
	color:white;
}

.datosPersonales{
	list-style:none;
	float:left;
	position:relative;
	left:-13%;
	margin-top:2%;
	color:black;
}

.datosPersonales > li, .subLista > li{
	display: -webkit-box;
}

.center{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.modal{
	opacity:0.9;
}

.link-active{
	background-color: #17467E !important;
	cursor:pointer;
	text-decoration:none;
}

.link-active > a{
	color:white !important;
	text-decoration:none;
	cursor:pointer;
}

.link-hover > a{
	color:#FFFFFF !important;
	text-decoration: none !important;
}

.link-hover > a:hover{
	color:#ffda00 !important;
}

.menu-dashboard{
	list-style:none;
	display:inline-flex;
	margin-top:0px;
}

.menu-dashboard > li{
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
	padding-bottom:10px;
	background-color:#2650A2;
	color:white;
	height:45px !important;
	margin-right:10px;
	font-weight: bold;
	font-size:1.4em;
	margin-top:-1px;
}

.form-control {
	width:87%;
}
	
@media only screen and (max-width: 1200px) {
	
	.config-ucv{
		left: 35%;
	}
	
	.config-secretaria{
		left: 44%;
	}
			
	.form-control {
		width:87%;
	}
}

@media only screen and (max-width: 1150px) {
	
	.config-ucv{
		left: 35%;
	}
	
	.fixed-formulario{
		left:25.5%;
	}
	
	.config-secretaria{
		left: 44%;
	}
	
	.form-control {
		width:87%;
	}
}

@media only screen and (max-width: 1100px) {
	
	.config-ucv{
		left: 33%;
	}
	
	.fixed-formulario{
		left: 23.5%;
	}
	
	.config-secretaria{
		left: 43%;
	}

	.form-control {
		width:87%;
	}	
}

@media only screen and (max-width: 1040px) {
	
	.fixed-formulario{
		left: 22.5%
	}
	
	.config-ucv{
		left: 33%;
	}
	
	.config-secretaria{
		left: 42%;
	}
	
	.form-control {
		width:87%;
	}
}

@media only screen and (max-width: 992px) {
	
	.fixed-formulario{
		left: 22.5%
	}
	
	.config-ucv{
		left: 33%;
	}
	
	.config-secretaria{
		left: 42%;
	}
	
	.form-control {
		width:96%;
	}
	
	.fixed-buttompdf{
		margin-left: -24%;
		margin-top: 4%;
		width: 26%;
		float: left;"
	}
	
	.fixed-labelmodo{
		font-size: 1.5em;
		font-weight: bold;
		float: left;
		padding: 0px;
		position: relative;
		left: 22%;
	}
}

@media only screen and (max-width: 880px) {
	.fixed-buttompdf{
		margin-left: -26%;
		margin-top: 4%;
		width: 26%;
		float: left;"
	}
	
	.fixed-labelmodo{
		font-size: 1.5em;
		font-weight: bold;
		float: left;
		padding: 0px;
		position: relative;
		left: 21%;
	}
	
	.fixed-formulario {
		left: 17.5%;
	}
	
	.config-ucv{
		left: 32%;
	}
	
	.config-secretaria{
		left: 41%;
	}
}

.margin{
	padding: 4% 4% 4% 4%;
}

.fondo-w{
	background-color: #fbca63;
}

.fondo-d{
	background-color: #f2dede;
}

.mostrar{
	display: block;
}

.dataTables_info, .ocultar, #seleccion_filter, #time1_filter, #time2_filter, #time3_filter, #time4_filter{
	display:none;
}

#materias1_filter, #materias2_filter, #materias3_filter, #materias4_filter, #resumen_filter, #seleccion1_filter, #seleccion2_filter, #seleccion3_filter, #seleccion4_filter{
	display:none;
}

div.dataTables_length select, .dataTables_length, .dataTables_paginate {
	display:none !important;
}

.navbar{
	min-height: 48px !important;
}

.modal-header {
	background-color:#2650A2 !important;
}

.panel-heading{
	height: 61px !important;
}
